/* Styling for Kontak Resmi Section Start */
.card-kontak {
  background: rgba(255, 255, 255, 0.094);
  border-radius: 20px;
  border: 1px solid #c7c7c754;
  border-radius: 20px;
  padding: 0;
  width: 500px;
}
/* Styling for Kontak Resmi Section */

/* Styling for Form Section Start */
.card-form {
  background: rgba(255, 255, 255, 0.094);
  border-radius: 20px;
  border: 1px solid #c7c7c754;
  border-radius: 20px;
  padding: 0;
  width: 500px;
}

.btn-submit {
  width: 150px;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  padding: 10px 16px;
  margin: 0 0 10px 0;
  color: white;
  background: linear-gradient(16deg, #6199e2, #933dcd);
  border: 3px solid #83b0ea;
  border-radius: 50px;
  background-clip: border-box;
  -webkit-text-fill-color: white;
  transition: background 0.5s ease, border 0.5s ease, color 0.5s ease,
    -webkit-text-fill-color 0.5s ease, text 0.3s ease, box-shadow 0.3s ease,
    transform 0.3s ease;
}

.btn-submit:hover {
  background: linear-gradient(16deg, #6199e2, #933dcd);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 3px solid #98bded;
  box-shadow: 0px 3px 13px #7b559a;
  transform: scale(0.93);
}

.input-form {
  border: 1px solid #676767;
  border-radius: 20px;
  padding: 8px;
  margin: 0 0 10px 0;
}

.select-form {
  border: 1px solid #676767;
  border-radius: 20px;
  padding: 10px;
  margin: 0 0 10px 0;
}

.text-form {
  border: 1px solid #676767;
  padding: 10px 0 0 10px;
  border-radius: 20px;
  height: 100px;
  margin: 0 0 10px;
}
/* Styling for Form Section End */

/* Styling for Info Pendaftaran Section Start */
.card-pendaftaran {
  background: rgba(255, 255, 255, 0.094);
  border-radius: 20px;
  border: 1px solid #c7c7c754;
  padding: 0;
  border-radius: 20px;
  width: 600px;
}
/* Styling for Info Pendaftaran Section End */

/* Styling for Pendaftaran Section Start */
.card-pendaftaran {
  background: rgba(255, 255, 255, 0.094);
  border-radius: 20px;
  border: 1px solid #c7c7c754;
  border-radius: 20px;
  padding: 0;
  width: 600px;
}
/* Styling for Pendaftaran Section End */