* {
  margin: 0;
  padding: 0;
  font-family: "Monserrat", sans-serif;
  box-sizing: border-box;
}

section {
  padding: 48px;
  scroll-margin-top: 100px;
  position: relative;
}

.title-section {
  background: linear-gradient(16deg, #6199e2, #933dcd);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Styling Section for index.html */
/* 1. About Section */
section#about {
  padding-top: 120px;
}

section#about::before {
  content: "Keunggulan Kami";
  font-size: 48px;
  font-weight: 600;
  top: 10px;
  background: linear-gradient(16deg, #6199e2, #933dcd);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.4;
  position: absolute;
  z-index: -1;
}

/* 2. Vision Section */
section#vision {
  padding-top: 120px;
}

section#vision::before {
  content: "Visi dan Misi";
  font-size: 48px;
  font-weight: 600;
  top: 10px;
  background: linear-gradient(16deg, #6199e2, #933dcd);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.4;
  position: absolute;
  z-index: -1;
}

/* 3. Course Section */
section#course {
  padding-top: 120px;
}

section#course::before {
  content: "Mata Kuliah";
  font-size: 48px;
  font-weight: 600;
  top: 10px;
  background: linear-gradient(16deg, #6199e2, #933dcd);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.4;
  position: absolute;
  z-index: -1;
}

/* 4. News Section */
section#news {
  padding-top: 120px;
}

section#news::before {
  content: "Pemberitahuan";
  font-size: 48px;
  font-weight: 600;
  top: 10px;
  background: linear-gradient(16deg, #6199e2, #933dcd);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.4;
  position: absolute;
  z-index: -1;
}

.navigation {
  display: flex;
  justify-content: center;
  margin: 32px 0 32px 0;
}

.navigation img {
  width: 50px;
}

:root[data-bs-theme="light"] {
  --bs-body-bg: #ffffff;
  --bs-body-color: #212529;
}

/* Dark Mode */
:root[data-bs-theme="dark"] {
  --bs-body-bg: #1e1e1e;
  --bs-body-color: #f1f1f1;

  --bs-primary: #0d6efd;
  --bs-secondary: #adb5bd;
}

/* Animation icon */
.theme-icon {
  font-style: normal;
  font-size: 1.2rem;
  transition: transform 0.4s ease, opacity 0.3s ease;
}

.theme-icon.rotate {
  transform: rotate(360deg);
}

/* Switch styling */
:root[data-bs-theme="light"] .form-check-input {
  background-color: #dee2e6;
  border-color: #6199e2;
}

:root[data-bs-theme="dark"] .form-check-input:checked {
  background-color: #6199e2;
  border-color: #ffffff;
}

/* Styling for Navbar Start */
/*Styling untuk efek blur di navbar*/
:root[data-bs-theme="light"] .navbar-blur {
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(16px);
}

:root[data-bs-theme="dark"] .navbar-blur {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(16px);
}

.nav-img-logo {
  width: 80px;
}
/* Styling for Navbar End */

/* Styling for Landing Section Start */
.h1-landing {
  background: linear-gradient(16deg, #6199e2, #933dcd);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

.img-landing {
  width: 500px;
  height: 320px;
  object-fit: cover;
  border-radius: 3px 50px 3px 50px;
}

.btn-landing {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  padding: 10px 10px;
  color: white;
  background: linear-gradient(16deg, #6199e2, #933dcd);
  border: 3px solid #83b0ea;
  border-radius: 50px;
  background-clip: border-box;
  -webkit-text-fill-color: white;
  transition: background 0.5s ease, border 0.5s ease, color 0.5s ease,
    -webkit-text-fill-color 0.5s ease, text 0.3s ease, box-shadow 0.3s ease;
}

.btn-landing:hover {
  background: linear-gradient(16deg, #6199e2, #933dcd);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 3px solid #98bded;
  box-shadow: 0px 3px 13px #7b559a;
}
/* Styling for Landing Section End */

/* Styling for About Section Start */
.about-card {
  background: rgba(255, 255, 255, 0.094);
  border-radius: 20px;
  border: 1px solid #c7c7c754;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.about-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 18px 32px rgba(0, 0, 0, 0.12);
}

.img-about {
  width: 70px;
  padding: 0 0 10px 0;
}
/* Styling for About Section End */

/* Styling for Course Section Start */
.slider-container {
  overflow: hidden;
  width: 100%;
  cursor: grab;
}

.slider {
  display: flex;
  gap: 20px;
  user-select: none;
}

.card-slider {
  min-width: 230px;
  height: 120px;
  background: linear-gradient(135deg, #4179c3, #2943c7);
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  flex-shrink: 0;
}
/* Styling for Course Section Start */

/* Styling for News Section Start */
.card-news {
  background: rgba(255, 255, 255, 0.094);
  border-radius: 20px;
  border: 1px solid #c7c7c754;
}

.card-news a  {
  text-decoration: none;
}

.form-news input {
  border-radius: 15px;
}

.button-search {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  padding: 5px 5px;
  color: white;
  background: linear-gradient(16deg, #6199e2, #933dcd);
  border: 3px solid #83b0ea;
  border-radius: 15px;
  background-clip: border-box;
  -webkit-text-fill-color: white;
  transition: background 0.5s ease, border 0.5s ease, color 0.5s ease,
    -webkit-text-fill-color 0.5s ease, text 0.3s ease, box-shadow 0.3s ease;
}

.button-search:hover {
  background: linear-gradient(16deg, #6199e2, #933dcd);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 3px solid #98bded;
  box-shadow: 0px 3px 13px #7b559a;
}

.search {
  width: 30px;
}
/* Styling for News Section End */

/* Styling for Footer Section Start */
.footer-img {
  width: 80px;
}

.address ul {
  list-style: decimal;
}

.address ul a {
  text-decoration: none;
}

.social-icon-footer img {
  width: 30px;
}
/* Styling for Footer Section End */

/* Styling for Navigation */
@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.bounce {
  animation: bounce 1s infinite;
}
